.heading {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  margin-bottom: 20px;
}

.field {
  margin: 10px;
  padding: 10px 20px;
}

.header {
  font-size: 20px;
}

.subheader {
  font-size: small;
  color: #ADABAC;
  padding-top: 0px;
  margin-top: 0px;
}

.temperature {
  justify-content: center;
  display: flex;
}

.temp {
  font-size: 60px;
  font-weight: bold;
}

.vstack {
  display: flex;
  flex-direction: column;
}

.icon {
  overflow: hidden;
}

.footer {
  font-size: medium;
}

.head1 {
  text-align: center;
}

.detail-block {
  display: flex;
  align-items: flex-start;
}

.left-detail-block {
  align-items: flex-start;
}

.right-detail-block {
  align-items: flex-end;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}